@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Nav.css */

.navbar {
  position: fixed;
  width: 100%;
  background-color: #333;
  color: #fff;
  /* padding: 10px 0; */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-item {
  margin-right: 50px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #ff9900;
}

.nurm{
}



/* Landing.css */

.landing {
  font-family: Arial, sans-serif;
  text-align: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  max-height: max-content; 
}

/* Style the header */
.header {
  margin-top: 80px;
  background-color: #22998d;
  color: #fff;
  padding: 20px;
}

.header h1 {
  font-size: 2rem;
}

.hero {
  margin-top: 90px;
  background-color: #f0f0f0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.hero h2 {
  font-size: 1.5rem;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 20px;
  max-width: 70%;
}

/* Style of call to action button */
.cta-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}
